In [1]:
import os
import pandas as pd

In [2]:
path = 'data/'
files_names = os.listdir(path)

In [57]:
pd1 = pd.read_csv(path + files_names[0], index_col='City').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
pd1['id'] = files_names[0] * len(pd1)
pd2 = pd.read_csv(path + files_names[1], index_col='City').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
pd2['id'] = files_names[1] * len(pd2)
pd3 = pd.read_csv(path + files_names[2], index_col='City').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
pd3['id'] = files_names[2] * len(pd3)

In [58]:
len(pd2)

33

In [59]:
pd.concat([pd1, pd2], axis=1).head()

,Figure,id,Figure,id
Amsterdam,353.0,Number_of_films_given_theatrical_release_in_th...,"447,0%",Number_of_international_tourists_per_year_as_%...
Austin,738.0,Number_of_films_given_theatrical_release_in_th...,NaN,NaN
Berlin,508.0,Number_of_films_given_theatrical_release_in_th...,"83,0%",Number_of_international_tourists_per_year_as_%...
Bogotá,218.0,Number_of_films_given_theatrical_release_in_th...,"12,8%",Number_of_international_tourists_per_year_as_%...
Brussels,NaN,NaN,"22,4%",Number_of_international_tourists_per_year_as_%...

In [3]:
def group_dfs(lst_df):
    dfs = []
    for i in range(0, len(lst_df)):
        pdi = pd.read_csv(path + lst_df[i], index_col='City').drop(
            ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
        pdi['id'] = files_names[i] * len(pd1)
        print("looking at {} with len {}".format(files_names[i], len(pdi)))
        while len(pdi) < 36:
            pdi = pdi.append({'Figure':None, 'id': None}, ignore_index=True)
        if len(pdi) == 36:
            print("ok")
            dfs.append(pdi)
            print(len(dfs))
        else:
            print("pass")
            pass
    return pd.concat(dfs, axis=1)

In [4]:
big_df = group_dfs(files_names)

NameError: name 'pd1' is not defined

In [9]:
unesco = pd.read_csv(path + 'UNESCO_World_Heritage_Sites_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
heritage = pd.read_csv(path + 'Number_of_other_Heritage_Historical_sites_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
museums = pd.read_csv(path + 'Total_museums_161221.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
parks_percent = pd.read_csv(path + '%_of_public_green_space_(parks_and_gardens)_170307.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
arcades = pd.read_csv(path + 'Number_of_video_games_arcades_170310.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
restau_per_ca = pd.read_csv(path + 'Number_of_restaurants_per_100.000_population_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
tourist_per_cent = pd.read_csv(path +'Number_of_other_Heritage_Historical_sites_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
bars = pd.read_csv(path + 'Number_of_bars_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
nightclubs = pd.read_csv(path + 'Night_Clubs,_Discos_and_Dance_Halls_170908.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)
bars_percent = pd.read_csv(path + 'Number_of_bars_per_100,000_population_170912.csv').drop(
    ['Date', 'Per capita', 'Source', 'Notes'], axis=1)

In [6]:
city_countryID = {
            'Amsterdam' : 'NLD', 
            'Austin' : 'USA',
             'Berlin' : 'DEU',
             'Bogotá': 'COL',
           'Brussels': 'BEL',
       'Buenos Aires': 'ARG',
              'Dakar': 'SEN',
              'Dubai': 'ARE',
          'Edinburgh': 'GBR',
          'Hong Kong': 'CHN',
            'Hong kong': 'CHN',
          'Istanbul': 'TUR',
      'Johannesburg': 'ZAF',
            'London': 'GBR',
       'Los Angeles': 'USA',
            'Madrid': 'ESP',
         'Melbourne': 'AUS',
          'Montréal': 'CAN',
            'Moscow': 'RUS',
            'Mumbai': 'IND',
          'New York': 'USA',
             'Paris': 'FRA',
            'Rome' : 'ITA',
    'Rio de Janeiro': 'BRA',
     'San Francisco': 'USA',
         'São Paulo': 'BRA',
             'Seoul': 'KOR',
          'Shanghai': 'CHN',
          'Shenzhen': 'CHN',
         'Singapore': None,
         'Stockholm': 'SWE',
            'Sydney': 'AUS',
            'Taipei': 'TWN',
             'Tokyo': 'JPN',
           'Toronto': 'CAN',
            'Vienna': 'AUT',
            'Warsaw': 'POL'
}

In [11]:
arcades['id'] = arcades['City'].apply(lambda x: city_countryID[x])

In [12]:
city_countryID['Stockholm']

'SWE'

In [13]:
arcades

              City  Figure    id
0        Amsterdam     107   NLD
1           Austin       5   USA
2            Dakar       2   SEN
3        Edinburgh      11   GBR
4        Hong Kong     211   CHN
5         Istanbul      18   TUR
6     Johannesburg      11   ZAF
7           London      48   GBR
8      Los Angeles      41   USA
9           Madrid       3   ESP
10       Melbourne      14   AUS
11        Montréal       4   CAN
12          Mumbai     278   IND
13        New York      32   USA
14           Paris      11   FRA
15   San Francisco      16   USA
16  Rio de Janeiro       6   BRA
17           Seoul     227   KOR
18        Shanghai     797   CHN
19        Shenzhen     240   CHN
20       Singapore      17  None
21       Stockholm       0   SWE
22          Sydney       6   AUS
23          Taipei      54   TWN
24           Tokyo     509   JPN
25         Toronto      13   CAN

In [4]:
import pickle

In [189]:
#pickle.dump(unesco, open('unesco_df.pkl', 'wb'))
#pickle.dump(heritage, open('heritage_df.pkl', 'wb'))
#pickle.dump(museums, open('museums_df.pkl', 'wb'))
#pickle.dump(parks_percent, open('parks_percent_df.pkl', 'wb'))
#pickle.dump(restau_per_ca, open('restau_per_ca_df.pkl', 'wb'))
#pickle.dump(tourist_per_cent, open('tourist_per_cent_df.pkl', 'wb'))
#pickle.dump(bars, open('bars_df.pkl', 'wb'))
#pickle.dump(nightclubs, open('nightclubs_df.pkl', 'wb'))
#pickle.dump(bars_percent, open('bars_percent_df.pkl', 'wb'))
#pickle.dump(arcades, open('arcades_df.pkl', 'wb'))
#pickle.dump(ids, open('ids_df.pkl', 'wb'))

In [14]:
unesco= pickle.load(open('pickles/unesco_df.pkl', 'rb'))
heritage= pickle.load(open('pickles/heritage_df.pkl', 'rb'))
museums= pickle.load(open('pickles/museums_df.pkl', 'rb'))
parks_percent= pickle.load(open('pickles/parks_percent_df.pkl', 'rb'))
restau_per_ca= pickle.load(open('pickles/restau_per_ca_df.pkl', 'rb'))
tourist_per_cent= pickle.load(open('pickles/tourist_per_cent_df.pkl', 'rb'))
bars= pickle.load(open('pickles/bars_df.pkl', 'rb'))
nightclubs= pickle.load(open('pickles/nightclubs_df.pkl', 'rb'))
bars_percent= pickle.load(open('pickles/bars_percent_df.pkl', 'rb'))
arcades= pickle.load(open('pickles/arcades_df.pkl', 'rb'))
ids= pickle.load(open('pickles/ids_df.pkl', 'rb'))

NameError: name 'pickle' is not defined

In [7]:
ids = pd.read_csv('idCountry.csv')

In [18]:
full = pd.merge(ids, bars, how='outer').fillna(0)

In [19]:
full['Figure']

0           0
1           0
2           0
3           0
4      11,189
5           0
6           0
7           0
8         713
9         791
10          0
11          0
12          0
13      1,743
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24     12,072
25         15
26          0
27          0
28          0
29          0
        ...
160         0
161         0
162         0
163         0
164         0
165         0
166         0
167         0
168         0
169         0
170       304
171       234
172         0
173         0
174         0
175         0
176       199
177     3,248
178     2,657
179       377
180         0
181         0
182         0
183         0
184         0
185         0
186         0
187         0
188         0
189       660
Name: Figure, Length: 190, dtype: object

In [20]:
full['Figure'].to_csv()

'0,0\n1,0\n2,0\n3,0\n4,"11,189"\n5,0\n6,0\n7,0\n8,713\n9,791\n10,0\n11,0\n12,0\n13,"1,743"\n14,0\n15,0\n16,0\n17,0\n18,0\n19,0\n20,0\n21,0\n22,0\n23,0\n24,"12,072"\n25,15\n26,0\n27,0\n28,0\n29,0\n30,"1,287"\n31,957\n32,0\n33,0\n34,"1,300"\n35,"2,693"\n36,"1,434"\n37,0\n38,0\n39,0\n40,0\n41,0\n42,0\n43,0\n44,0\n45,0\n46,0\n47,0\n48,"1,247"\n49,0\n50,0\n51,0\n52,0\n53,0\n54,0\n55,0\n56,"5,877"\n57,0\n58,0\n59,0\n60,0\n61,0\n62,"3,263"\n63,0\n64,451\n65,"2,694"\n66,0\n67,0\n68,0\n69,0\n70,0\n71,0\n72,0\n73,0\n74,0\n75,0\n76,0\n77,0\n78,0\n79,0\n80,0\n81,0\n82,543\n83,0\n84,0\n85,0\n86,0\n87,0\n88,0\n89,0\n90,0\n91,"28,543"\n92,0\n93,0\n94,0\n95,0\n96,"18,829"\n97,0\n98,0\n99,0\n100,0\n101,0\n102,0\n103,0\n104,0\n105,0\n106,0\n107,0\n108,0\n109,0\n110,0\n111,0\n112,0\n113,0\n114,0\n115,0\n116,0\n117,0\n118,0\n119,0\n120,0\n121,0\n122,0\n123,0\n124,0\n125,0\n126,0\n127,"1,516"\n128,0\n129,0\n130,0\n131,0\n132,0\n133,0\n134,0\n135,0\n136,0\n137,0\n138,0\n139,0\n140,0\n141,0\n142,0\n143,0\n144,581\n145,0\n146,0\n147,0\n148,0\n149,0\n150,0\n151,0\n152,0\n153,0\n154,0\n155,0\n156,0\n157,0\n158,0\n159,414\n160,0\n161,0\n162,0\n163,0\n164,0\n165,0\n166,0\n167,0\n168,0\n169,0\n170,304\n171,234\n172,0\n173,0\n174,0\n175,0\n176,199\n177,"3,248"\n178,"2,657"\n179,377\n180,0\n181,0\n182,0\n183,0\n184,0\n185,0\n186,0\n187,0\n188,0\n189,660\n'

In [83]:
name2id = dict(ids.set_index('name'))
temps = pd.read_csv('temp_countries.csv', sep=';' )
temps['temp'] =  temps['temp'].apply(lambda x: x.split('\t')[-1] )
temps['temp'] =  temps['temp'].apply(float)
temps['id'] = temps['country'].apply(lambda x: name2id['id'][x] if x in name2id['id'] else None)

In [85]:
temps = temps.dropna().drop('country', axis=1).set_index('id')
temps.to_csv()

'id,temp\nAFG,12.6\nALB,11.4\nDZA,22.5\nAGO,21.55\nARG,14.8\nARM,7.15\nAUS,21.65\nAUT,6.35\nAZE,11.95\nBGD,25.0\nBLR,6.15\nBEL,9.55\nBLZ,25.3\nBEN,27.55\nBTN,7.4\nBOL,21.55\nBWA,21.5\nBRA,24.95\nBRN,26.85\nBGR,10.55\nBFA,28.25\nBDI,19.8\nKHM,26.8\nCMR,24.6\nCAN,-5.35\nCAF,24.9\nTCD,26.55\nCHL,8.45\nCHN,6.95\nCOL,24.5\nCRI,24.8\nHRV,10.9\nCUB,25.2\nCYP,18.45\nCZE,7.55\nDNK,7.5\nDJI,28.0\nDOM,24.55\nECU,21.85\nEGY,22.1\nSLV,24.45\nERI,25.5\nEST,5.1\nETH,22.2\nFJI,24.4\nFIN,1.7\nFRA,10.7\nGAB,25.05\nGMB,27.5\nGEO,5.8\nDEU,8.5\nGHA,27.2\nGRC,15.4\nGTM,23.45\nGIN,25.7\nGUY,26.0\nHTI,24.9\nHND,23.5\nHUN,9.75\nISL,1.75\nIND,23.65\nIDN,25.85\nIRN,17.25\nIRQ,21.4\nIRL,9.3\nISR,19.2\nITA,13.45\nCIV,26.35\nJAM,24.95\nJPN,11.15\nJOR,18.3\nKAZ,6.4\nKEN,24.75\nKWT,25.35\nKGZ,1.55\nLAO,22.8\nLVA,5.6\nLBN,16.4\nLSO,11.85\nLBR,25.3\nLBY,21.8\nLTU,6.2\nLUX,8.65\nMKD,9.8\nMDG,22.65\nMWI,21.9\nMYS,25.4\nMLI,28.25\nMLT,19.2\nMRT,27.65\nMEX,21.0\nMDA,9.45\nMNG,-0.7\nMNE,10.55\nMAR,17.1\nMOZ,23.8\nMMR,13.05\nNAM,19.95\nNPL,8.1\nNLD,9.25\nNZL,10.55\nNIC,24.9\nNER,27.15\nNGA,26.8\nNOR,1.5\nOMN,25.6\nPAK,20.2\nPAN,25.4\nPNG,25.25\nPRY,23.55\nPER,19.6\nPHL,25.85\nPOL,7.85\nPRT,15.15\nQAT,27.15\nROU,8.8\nRUS,-5.1\nRWA,17.85\nSAU,24.65\nSEN,27.85\nSLE,26.05\nSVK,6.8\nSVN,8.9\nSLB,25.65\nSOM,27.05\nESP,13.3\nLKA,26.95\nSDN,26.9\nSUR,25.7\nSWZ,21.4\nSWE,2.1\nCHE,5.5\nSYR,17.75\nTJK,2.0\nTHA,26.3\nTGO,27.15\nTTO,25.75\nTUN,19.2\nTUR,11.1\nTKM,15.1\nARE,27.0\nGBR,8.45\n'

'ALB'